duyet3
runs
django
ideal.py
nhap.py
streamlit_live_test_model.py
tempCodeRunnerFile.py
__pycache__
test.py
temp.py
file_chay_test_mutilprocessing.py
ideal_for_funtion_project_type.py
temp
video test
training.ipynb
video_test