numpy
opencv-python
cvzone
torch
torchvision
torchaudio
langchain
langchain_google_genai
ultralytics
fastapi
uvicorn[standard]
shapely
python-dotenv
lap
openvino
pydantic
langgraph
gdown
git+https://github.com/ultralytics/CLIP.git
