numpy
opencv-python
cvzone
torch==2.3.0
torchvision==0.18.0
torchaudio==2.3.0
langchain
langchain_google_genai
ultralytics
fastapi
uvicorn[standard]
shapely
python-dotenv
lapx
MNN
openvino
onnxruntime
onnx
langgraph
requests
git+https://github.com/ultralytics/CLIP.git
