numpy
opencv-python
cvzone
torch
torchvision
torchaudio
langchain
langchain_google_genai
ultralytics
fastapi
uvicorn
shapely
python-dotenv
lap
MNN
openvino
onnxruntime
onnx
langgraph
git+https://github.com/ultralytics/CLIP.git
