numpy
opencv-python
cvzone
langchain
langchain_google_genai
ultralytics
fastapi
uvicorn
shapely
python-dotenv
lap
MNN
openvino
onnxruntime-gpu
onnx
langgraph
git+https://github.com/ultralytics/CLIP.git
--extra-index-url https://download.pytorch.org/whl/cu128
torch
torchvision
torchaudio
