langchain
langchain_google_genai
ultralytics
numpy
opencv-python
fastapi
uvicorn
shapely
python-dotenv
lap
git+https://github.com/ultralytics/CLIP.git
--extra-index-url https://download.pytorch.org/whl/cu118
torch
torchvision
torchaudio
